@font-face {
  font-family: "PoorRichard";
  src: url("../../assets/fonts/POORICH.TTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.shop-theme {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}

.shop-theme .section-heading {
  text-align: center;
  margin-bottom: 60px;
}

.shop-theme .section-heading span {
  display: inline-block;

  background: #b9467b;

  color: #fff;

  padding: 10px 22px;

  border-radius: 5px;

  font-size: 25px;

  font-weight: 500;
}

.feature-item img {
  background-color: white;
  width: 21px;
  height: 21px;
}
.feature-item {
  display: flex;
  gap: 10px;
  width: 241px;
}

.theme-container {
  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 60px;

  align-items: center;
}

.theme-tab {
  background: transparent;
}

.right-side p {
  font-size: 15px;
  font-family: "Raleway", sans-serif;
}
.theme-tab.active {
  background: purple;
  color: white;
}

.theme-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px;
}

.theme-main-image {
  width: 100%;
  height: 729px; /* Apne design ke hisab se */
  border-radius: 10px;
  overflow: hidden;
}

.right-side h2 {
  font-family: "PoorRichard", serif;
  font-size: 40px;
  font-weight: 400;
}

.first {
  color: #423264;
}

.second {
  color: #b9467b;
}

.theme-main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-img img {
  width: 185px;
  height: 195px;
  max-width: 100%;
  border-radius: 10px;
}

.gallery-img {
  display: flex;
  gap: 34px;
}
.gallery-section {
  margin-top: 55px;
}

.slider-dots {
  display: flex;
  gap: 10px;
  align-items: center;
}

.dot {
  width: 12px;
  height: 12px;

  border: 2px solid #5b2c83;

  border-radius: 50%;

  cursor: pointer;
}

.dot.active {
  background: #5b2c83;
}

.slider-navigation {
  padding-top: 140px;
  padding-left: 50px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.right-side {
  padding-left: 40px;

  display: flex;

  flex-direction: column;

  gap: 28px;
}

.arrow-btn {
  background-color: white;
  color: #5b2c83;
  font-size: 38px;
  padding-top: 8px;
  border: none;
  margin-bottom: 20px;
}

.explore-btn {
  width: 160px;
  height: 40px;
  background: white;
  color: #423264;
  border-color: #423264;
  border-radius: 5px;
  font-family: "PoorRichard", serif;
  font-size: 20px;
}

.explore-btn:hover {
  background-color: #423264;
  color: white;
}

.theme-tabs {
  gap: 20px;
  display: flex;
  padding-bottom: 25px;
}

.theme-tabs button {
  border: none;

  background: white;

  cursor: pointer;

  transition: 0.3s;

  font-size: 20px;

  color: #5d5d5d;

  position: relative;

  font-family: "PoorRichard", serif;
  font-weight: 400;
}

.tab.active {
  color: #5a3e85;
}

.active-line {
  display: flex;

  gap: 4px;
  margin-top: 8px;
}

.active-line span {
  height: 3px;
  border-radius: 20px;
}

.active-line span:nth-child(1) {
  width: 53px;
  background: #423264;
}

.active-line span:nth-child(2) {
  width: 12px;
  background: #b9467b;
}

.active-line span:nth-child(3) {
  width: 6px;
  background: #b9467b;
}

.gallery-section {
  display: flex;
}

@media (max-width: 1024px) {
  .gallery-section {
    display: block;
  }

  .slider-navigation {
    padding-top: 22px;
  }
}

@media (max-width: 768px) {
  .theme-container {
    display: block;
  }

  .shop-theme .section-heading span {
    font-size: 20px;
  }

  .right-side {
    margin-top: 20px;
  }
}

@media (max-width: 425px) {
  .theme-tabs button {
    font-size: 16px;
  }

  .active-line span:nth-child(1) {
    width: 43px;
    background: #423264;
  }

  .active-line span:nth-child(2) {
    width: 10px;
    background: #b9467b;
  }

  .active-line span:nth-child(3) {
    width: 4px;
    background: #b9467b;
  }

  .right-side h2 {
    font-size: 28px;
  }

  .right-side p {
    font-size: 12px;
  }

  .explore-btn {
    width: 120px;
    height: 35px;

    font-size: 16px;
  }

  .arrow-btn {
    font-size: 30px;
  }
}
