@font-face {
  font-family: "PoorRichard";
  src: url("../../assets/fonts/POORICH.TTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.best-seller {
  width: 80%;
  padding: 50px 0;
  margin: auto;
}

.section-heading {
  
  margin-bottom: 50px;
}

.section-heading span {
  background: #B9467B;
  color: white;
  padding: 8px 18px;
  border-radius: 5px;
  font-size: 25px;
}

.about-badge img{
  margin-top: 10px;
}

.section-heading h2 {
  font-family: "PoorRichard", serif;
  margin-top: 20px;
  font-size: 40px;
  color: #423264;
  font-weight: 400    ;
}

.products-container {
  width: 100%;
  margin: auto;

  display: grid;

  transition: grid-template-columns .4s ease;

  gap: 30px;
}

.products-container > div {
  transition: all .4s ease;
}


@media (max-width:1440px){
.products-container{
  display: flex;
  flex-wrap: wrap;

}
}

@media (max-width:768px){
  .section-heading span{
    font-size: 20px;
  }
  .about-badge img{

    width: 40px;
    height: 30px;
  }

  .section-heading h2{
    font-size: 30px;
  }
}