.collection-content{
    width: 80% ;
    margin: auto;
}

.collection-content img{
    height: 600px;
    width: 100%;
    border-radius: 10px;
}

.collection-content h2{
    font-size: 42px;
}
.collection-content p{
    color: #6D6D6D;
    font-size: 20px;
}
.collection-content h3{
    font-size: 32px;
}

.collection-content span{
    color: #533F7D;
    font-size: 24px;
}


@media (max-width:1024px){
    .collection-content img{
    height: 500px;
    }
    .collection-content p{
        font-size: 18px;
    }
    .collection-content div{
        margin-bottom: 20px;
    }
}

@media (max-width:500px){
    .collection-content img{
    height: 350px;
    }

    .collection-content p{
        font-size: 16px;
    }

    .collection-content h3{
    font-size: 24px;
}

.collection-content h2{
    font-size: 30px;
}

}

