

 .heading {
  font-size: 36px;
  color: #423264;
  font-weight: 500;
  margin-bottom: 30px;
}

.description {
  font-size: 14px;
  line-height: 26px;
  color: #423264;
}

.new-price {
  font-size: 32px;
  color: #423264;
  font-weight: 600;
}

@media (max-width: 1024px) {
  .heading {
    font-size: 30px;
  }

  .new-price {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 24px;
    text-align: center;
  }

  .description {
    font-size: 13px;
    line-height: 22px;
  }

  .new-price {
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 22px;
  }

  .description {
    font-size: 12px;
    line-height: 20px;
  }

  .new-price {
    font-size: 20px;
  }
}