@font-face {
  font-family: "PoorRichard";
  src: url("../../assets/fonts/POORICH.TTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}


.product-card {
  position: relative;
  
  overflow: hidden;
  transition: 0.3s ease;

}

.product-card:hover {
  transform: translateY(-8px);
}

.product-image {
  width: 100%;
  height: 444px;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.4s;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

/* .product-card:hover .product-image img {
  transform: scale(1.08);
} */

/* Wishlist Icon */

.wishlist-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 42px;
  height: 42px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.wishlist-icon:hover {
  color: crimson;
}

/* Details */


.product-details h3 {
  margin-top: 20PX;
  font-size: 20px;
  margin-bottom: 10px;
  color: #423264;

}

.product-title {
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "PoorRichard", serif;
}




/* Price */

.product-price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.price-btn{
  margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current-price {
  font-size: 22px;
  font-weight: 700;
  color: #6b1fa1;
}

.old-price {
  color: #999;
  font-size: 16px;
}

/* Button */

.cart-btn {
  width: 150px;
  height: 40px;
  border: none;
  background: #B9467B;
  color: white;
  padding: 0px 6px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: .3s;
}

.cart-btn:hover {
  background: #8e24aa;
}