@font-face {
  font-family: "PoorRichard";
  src: url("../../assets/fonts/POORICH.TTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.product-card {
  position: relative;

  overflow: hidden;
  transition: 0.3s ease;
}

.product-card:hover {
  transform: translateY(-8px);
}

.product-image {
  width: 100%;
  height: 444px;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.4s;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

/* .product-card:hover .product-image img {
  transform: scale(1.08);
} */

/* Wishlist Icon */

.wishlist-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 42px;
  height: 42px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.wishlist-icon:hover {
  color: crimson;
}

/* Details */

.product-details h3 {
  margin-top: 20px;
  font-size: 25px;
  margin-bottom: 10px;
  color: #423264;
  font-weight: 400;
}
.product-details p {
  font-size: 18px;
  color: #383838;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.product-title {
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "PoorRichard", serif;
}

/* Price */

.product-price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.price-btn {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-price {
  font-size: 40px;
  font-weight: 700;
  color: #6b1fa1;
  font-weight: 400;
  font-family: "PoorRichard";
}

.old-price {
  color: #5d5d5d;
  font-size: 20px;
  font-weight: 400;
  font-family: "PoorRichard";
}

/* Button */

.cart-btn {
  width: 150px;
  height: 40px;
  border: none;
  background: #b9467b;
  color: white;
  padding: 0px 6px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: 0.3s;
  font-family: "PoorRichard";
  font-weight: 400;
}

.cart-btn:hover {
  background: #8e24aa;
}

@media (max-width: 1440px) {
  .product-card {
    width: 250px;
  }
}

@media (max-width: 768px) {
  .product-details h3 {
    font-size: 20px;
  }

  .product-details p {
    font-size: 15px;
  }

  .current-price {
    font-size: 28px;
  }

  .old-price {
    font-size: 14px;
  }

  .cart-btn {
    width: 120px;
    font-size: 16px;
    font-weight: 300;
  }
}

@media (max-width: 425px) {
  .product-card {
    width: 100%;
  }
}
