@font-face {
  font-family: "PoorRichard";
  src: url("../../assets/fonts/POORICH.TTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}


.categories-preview{
    width: 80%;
    margin: auto;
    padding: 50px 0;
}

.categories-cont{
    width: 100%;
    display: flex;
    gap: 30px;
}

.categories-preview h2{

    font-size:40px;

    color:#432364;

    margin-bottom:30px;

    font-weight:400;

    font-family: "PoorRichard", serif;
}

.categories-preview p{

    font-size:16px;

    color:#666;

    line-height:1.8;

    margin-bottom:18px;
}