.about-hero {
  background: url("../../assets/images/AboutHero.jpg");
  height: 691px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotateY(180deg);
}
.hero-box1 {
  transform: rotateY(180deg);
  background-color: rgba(255, 255, 255, 0.623);
  width: 35%;
  padding: 20px 60px;
  position: absolute;
  right: 8%;
  top: 40%;
  border-radius: 10px;
}
.hero-box1 h2 {
  font-family: "PoorRichard", serif;
  font-size: 40px;
  color: #423264;
  font-weight: 400;
}

.hero-box1 p {
  color: #383838;
  font-size: 20px;
  line-height: 23px;
}

.hero-box2 {
  background: url("../../assets/images/Aboutlayer1.png"), #423264;
  background-repeat: no-repeat;
  background-position: right;
  width: 85%;
  padding: 100px 80px;
  border-radius: 12px;
  position: absolute;
  left: 7%;
  /* bottom: -500px; */
  top: 80%;
  transform: rotateY(180deg);
}

.text-box h3 {
  font-family: "PoorRichard", serif;
  font-size: 40px;
  color: #423264;
  font-weight: 400;
}

.text-box p {
  font-size: 18px;
  color: #5d5d5d;
  font-family: "Raleway", sans-serif;
  line-height: 100%;
}
