.swiper-pagination-bullet{
    background:#d4a0c8 !important;
    opacity:1;
    margin-top: 20px !important;
}

.swiper-pagination-bullet-active{
    background:#7A2C7F !important;
}

.shop-hero-text{
    padding: 150px 50px ;
}

.shop-hero-text h1{
    color: #423264;
    font-size: 64px; 
    font-weight: 400;
    margin-bottom: 20px;   
}

.shop-hero-text p{
    color: #474747;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    width: 60%;
}

.shop-hero-text button {
    border-radius: 32px;
    margin-top: 30px;
}
 