.passion-section{
    background-color: #533F7D;
    text-align: center;
    
}

.passion-section h2{
    font-size: 40px;
    color: white;

}

.passion-section p{
    font-size: 20px;
    color: #F3F3F3;
    margin-top: 25px;
}

@media (max-width:768px){
    .passion-section h2{
        font-size: 32px;
    }

    .passion-section p{
    font-size: 14px;
    }
}