@font-face {
  font-family: "PoorRichard";
  src: url("../../assets/fonts/POORICH.TTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.about-preview {
  width: 100%;
  padding: 50px 0;
  background: #fff;
  cursor: pointer;
}

.about-cont {
  width: 80%;
  margin: auto;
}

.about-badge {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.about-badge span {
  background: #b9467b;

  color: #fff;

  padding: 8px 18px;

  border-radius: 4px;

  font-size: 25px;

  font-weight: 500;
  font-family: "Raleway", sans-serif;
}

.badge-design {
  width: 43px;

  height: 35px;

  background: url("../../assets/images/badgeicon.png");

  background-repeat: no-repeat;

  background-size: contain;

  margin-top: 10px;
}

.about-preview h2 {
  font-family: "PoorRichard", serif;

  font-size: 40px;

  color: #432364;

  margin-bottom: 30px;

  font-weight: 500;
}

.about-content {
  width: 95%;
}

.about-preview p {
  font-size: 18px;

  color: #666;

  margin-bottom: 18px;
}

.about-preview p span {
  font-family: "PoorRichard", serif;
  color: #432364;
}

.about-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

@media (max-width: 768px) {
  .about-badge span {
    font-size: 20px;
  }

  .badge-design {
    width: 40px;
    height: 30px;
  }

  .about-preview h2 {
    font-size: 32px;
  }

  .about-preview p {
    font-size: 16px;
  }
}
