.Social-card img{
    width: 360px;
    height: 360px;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width:1440px){
   .Social-card img{
    width: 260px;
    height: 260px;

}
   
}

@media (max-width:1024px){
    .Social-card img{
    width: 160px;
    height: 160px;

}}




