@font-face {
  font-family: "PoorRichard";
  src: url("../../assets/fonts/POORICH.TTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.footer{
    width: 100%;
    padding: 50px 0;
    background-color: #423264;
    color: white;
}

.footer-container{
    width: 80%;
    display: flex;
    gap: 60px;
    margin: auto;
}

.footer-about{
    margin-right: 280px;
    width: 400px;
}

.footer-about img{
    margin-bottom: 40px;
}

.footer-about p{
    font-size: 15px;
    line-height: 23px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #EFEFEF;
}
.about-links {
    width: 200px;
    padding-top: 30px;
}

.about-links h3{
    font-family: "PoorRichard", serif;
    font-size: 29px;
    font-weight: 400;
    margin-bottom: 20px;
}

.about-links ul{
    list-style: none;
}

li{
    margin-bottom: 10px;
}

.about-links ul a {
    text-decoration: none;
    color:#E9E9E9;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    
}

.about-links ul a:hover{
    font-weight: bold;
}