.icon{
    background-color: white;
    color: #423264;
    margin: 10px 8px;
    padding: 0px 6px 5px 6px;
    border-radius: 50%;
    font-size: 28px;
    text-align: center;

}

.social-icons{
    margin-top: 35px;
}