.tesimonial-section {
  background-color: #423264;
  color: white;
  width: 100%;
  padding: 40px 0;
}

.testinomial-content {
  width: 85%;
  padding: 0 30px;
  margin: auto;
}

.testinomial-content h2 {
  margin-bottom: 30px;
  font-family: "PoorRichard", serif;
  font-size: 40px;
  font-weight: 400;
}

.testimonial-cont {
  display: flex;
  padding-left: 20px;
}

.badge-desig{

    width:43px;

    height:35px;

    background:url("../../assets/images/test.png");

    background-repeat:no-repeat;

    background-size:contain;

    margin-top: 10px;
}