.banner-section {
  padding: 80px 0;
}

.banner-card {
  background: #e7d4be;

  border-radius: 18px;

  overflow: hidden;

  position: relative;
  width: 80%;
   max-width: 1500px;
  margin: auto;
}

.banner-text {
  padding: 70px;

  position: relative;

  z-index: 2;
}

.banner-text h2 {
  font-size: 52px;

  font-weight: 700;

  color: #4a2e7a;

  line-height: 1.2;

  margin-bottom: 25px;
}

.banner-text p {
  color: #666;

  font-size: 18px;

  margin-bottom: 30px;

  width: 90%;
}

.banner-btn {
  background: #a63d92;

  color: white;

  padding: 14px 30px;

  border-radius: 8px;
}

.banner-btn:hover {
  background: #8b2f79;

  color: white;
}

.banner-image {
  position: relative;

  height: 100%;

  display: flex;

  justify-content: flex-end;

  align-items: center;
}

/* Image */

.banner-image img {
  width: 100%;
  height: 100%;
  min-height: 320px;
  max-height: 515px;
  display: block;
}

/* Gradient Effect */

.banner-image::before {
  content: "";

  position: absolute;

  left: 0;

  top: 0;

  width: 180px;

  height: 100%;

  background: linear-gradient(
    to right,
    #e7d4be 0%,
    rgba(231, 212, 190, 0.95) 20%,
    rgba(231, 212, 190, 0.6) 45%,
    rgba(231, 212, 190, 0) 100%
  );

  z-index: 1;
}

.banner-image img {
  position: relative;

  z-index: 0;
}


@media (max-width:1440px){
  .banner-text h2 {
  font-size: 46px;
  }
  .banner-text p{
    font-size:14px;
}
.banner-text {
  padding: 70px 0 20px 70px;
}
.banner-btn {
  padding: 10px 22px;
}
}

/* ---------------- Laptop ---------------- */

@media (max-width:1200px){

.banner-text{
    padding:50px;
}

.banner-text h2{
    font-size:36px;
}

.banner-text p{
    font-size:10px;
}

}


/* ---------------- Tablet ---------------- */

@media (max-width:992px){

.banner-card{
    width:95%;
}

.banner-text{
    padding:40px 30px;
    text-align:center;
}

.banner-text h2{
    font-size:40px;
}

.banner-text p{
    width:100%;
    margin-inline:auto;
    font-size:20px;
}

.banner-image{
    justify-content:center;
}

.banner-image img{
    max-height:400px;
}

.banner-image::before{
    display:none;
}

}


/* ---------------- Mobile ---------------- */

@media (max-width:768px){

.banner-section{
    padding:50px 0;
}

.banner-card{
    width:95%;
}

.banner-text{
    padding:30px 20px;
}

.banner-text h2{
    font-size:30px;
}

.banner-text p{
    font-size:16px;
}

.banner-btn{
    width:100%;
    padding:14px;
}

.banner-image img{
    min-height:250px;
    max-height:320px;
}

}


/* ---------------- Small Mobile ---------------- */

@media (max-width:480px){

.banner-text h2{
    font-size:24px;
}

.banner-text p{
    font-size:15px;
}

.banner-image img{
    min-height:220px;
}

}